<!DOCTYPE html>
<html translate="no">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <title>Happy Home</title>
    {{>libs}}

</head>

<body>
    {{>nav}}

    <div class="main container">
        <div style="margin-top: 100px;margin-bottom:100px" class="row">
            <div class="header-line col-md-12">
                <h4 class="text-center" style="font-size:xx-large">
                    Səbət
                </h4>
            </div>
            {{#if orders}}
            <div class="container text-center">
                {{#each orders}}
                <div class="container col-md-6 float-left">
                    <div class="col-md-12 card float-left row" style="padding:20px;cursor: default;margin-top:50px">
                        <div class="col-md-12 text-left float-left padding-zero" style="border-radius: 20px!important;">
                            <img class="col-md-3 float-left" src="/data/pic/{{this._id}}">
                            <div class="container col-md-9">
                                <p class="col-md-12">Ad: {{this.name}}</p>
                                <p class="col-md-12">Kod: {{this.code}}</p>
                                <p class="text-muted col-md-12">ID: {{this._id}}</p>
                            </div>
                        </div>
                    </div>
                </div>
                {{/each}}
                <div class="container col-md-12 float-left">
                    <div class="col-md-12" style="padding:20px;cursor: default;margin-top:50px">
                        <button class="btn btn-danger" style="font-size: x-large;" onclick="window.open('/clear-basket')">Səbəti təmizlə</button>
                    </div>
                </div>
            </div>
            {{>orderForm}}

            {{else}}
            <div class="col-md-12" style="margin-top:50px">
                <h4 class="text-center text-muted" style="font-size:x-large">
                    Səbətinizdə heç bir məhsul yoxdur
                </h4>
            </div>
            {{/if}}
        </div>
        {{>footer}}
    </div>


    {{>backToTop}}
    {{>whatsAppHotkey}}
</body>

</html>