<!DOCTYPE html>
<html translate="no">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <title>Happy Home</title>
    {{>libs}}
</head>

<body>
    {{>nav}}

    <div class="main container">
        <div style="margin-top: 100px;margin-bottom:100px" class="row">
            <div class="header-line col-md-12">
                <h4 class="text-center" style="font-size:xx-large">
                    {{product.name}}
                </h4>
            </div>
            {{#if soldOut}}
            <h4 class="text-muted text-center col-md-12" style="font-size:x-large">
                Bu məhsul bitmişdir
            </h4>
            {{/if}}
            <div class="row col-md-12" style="{{#if soldOut}}pointer-events: none;opacity: 0.4;{{/if}}">
                <div class="col-md-6 float-left" style="padding-top: 20px;">
                    <div class="card">
                        <a class="image-block image-popup" href="/data/pic/{{product._id}}">
                            <img class="card-img-top img-fluid" src="/data/pic/{{product._id}}" alt="Card image cap">
                        </a>
                        <div class="card-body">
                            <h4 class="card-title">Adı: {{product.name}}</h4>
                        </div>
                    </div>
                </div>
                <div class="col-md-6 float-left" style="padding-top: 20px;">
                    <div class="card" style="cursor: default;">
                        <div class="card-body text-left">
                            <p style="font-size: x-large;">Kod: {{product.code}}</p>
                            <p style="font-size: x-large;" class="text-muted">ID: {{product._id}}</p>
                            <p style="font-size: x-large;margin-top:30px;">Parça sayı: {{product.pcs}}</p>
                            <p style="font-size: x-large;margin-top:30px;">Kateqoriya: {{product.category}}</p>
                            {{#if product.subCates}}
                            <p style="font-size: x-large;margin-top:30px">Alt kateqoriya(lar):
                                {{#each product.subCates}}{{this.text}}{{/each}}</p>
                            {{/if}}
                            <p style="font-size: x-large;margin-top:30px;">İçindəkilər:</p>
                            {{#each product.ingredients}}
                            <p style="font-size: large;" class="text-muted">{{this.text}}</p>
                            {{/each}}
                            {{#if specs}}
                            <p style="font-size: x-large;margin-top:30px;">Xüsusiyyətlər:</p>
                            {{#each product.specs}}
                            <p style="font-size: large;" class="text-muted">{{this.text}}</p>
                            {{/each}}
                            {{/if}}
                            <button style="margin-top:50px;font-size:20px"
                                onclick="location.href='/add-to-basket/{{product._id}}'"
                                class="btn btn-danger float-left col-md-5">Səbətə əlavə et</button>

                            <button style="margin-top:50px;font-size:20px"
                                onclick="location.href='/buy/{{product._id}}'"
                                class="float-left btn btn-danger float-left col-md-5 offset-md-2">Satın al</button>
                        </div>
                    </div>
                </div>
            </div>
        </div>

        {{>footer}}
    </div>


    {{>backToTop}}
    {{>whatsAppHotkey}}
    <script>
        const modalImage = (id) => {
            Swal.fire({
                html: `
                <div class="image-block">
                <img class="col-md-12 card-img-top img-fluid" src="/data/pic/${id}" alt="Card image cap">
                </div>
                `,

                showConfirmButton: false,
                showCloseButton: true,
            })
        }
        $('.image-popup').magnificPopup({
            type: 'image'
        });
    </script>
</body>

</html>