<!DOCTYPE html>
<html translate="no">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0,user-scalable=no">
    <title>Happy Home | {{category}}</title>
    {{>libs}}
</head>

<body>
    {{>nav}}
    <div class="main container">
        <div style="margin-top: 100px;margin-bottom:100px" class="row">
            <div class="header-line col-md-12">
                <h4 class="text-center" style="font-size:xx-large">
                    {{category}}
                </h4>
            </div>
            <div class="row col-md-12">
                {{#each products}}
                <div class="col-md-3 float-left">
                    <div class="card {{#if this.soldOut}} sold-out-card {{/if}}" onclick="window.open('/product/{{this._id}}','_self')">
                        <div class="image-block">
                            <img class="card-img-top img-fluid" src="/data/pic/{{this._id}}" alt="Card image cap">
                        </div>
                        <div class="card-body">
                            <h4 class="card-title">{{this.name}}</h4>
                        </div>
                    </div>
                </div>
                {{/each}}
            </div>
        </div>

        {{>footer}}
    </div>


    {{>backToTop}}
    {{>whatsAppHotkey}}
</body>

</html>